@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>We here at FooBar Wines and Spirits pride ourselves on the best drinks. Fresh or aged. Sweet or bitter. No matter what the type we guarentee quality. Drink up.</p>
<br />
<p>Log in to see our extensive offering</p>
