@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Somewhere Rd<br />
    Kalamazoo, MI 49001<br />
    <abbr title="Phone">P:</abbr>
    269.555.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:FooBar@foobar.com">FooBar@foobar.com</a><br />
</address>