@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FooBar - Wines and Spirits</h1>
    <p class="lead">"Taste the Season"</p>    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Information</h2>
        <p>Click the button below for more information. </p>
        <p><a href="/home/about" class="btn btn-primary btn-lg">About Us &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Help and Services</h2>
        <p>Click the button below to contact us.</p>
        <p><a href="/home/contact" class="btn btn-primary btn-lg">Contact Us &raquo;</a></p>
    </div>
</div>